# **Naive Bayes Example**

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('./dataset/play_tennis.csv')
df.drop(columns=['day'], inplace=True)

In [3]:
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [4]:
# Problem 

# outlook = Sunny, temp = Hot, humidity = High, wind = Weak
# Play or No Play ?

In [5]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [6]:
py = 9/14
pn = 5/14

In [7]:
py

0.6428571428571429

In [8]:
# Outlook 
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [9]:
povercastno = 0
prainno = 2/5
psunnyno = 3/5

povercastyes = 4/9
prainyes = 3/9
psunnyyes = 2/9

In [10]:
# Temp 
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [11]:
pcoolno = 1/5
photno = 2/5
pmildno = 2/5

pcoolyes = 3/9
photyes = 2/9
pmildyes = 4/9

In [12]:
# Humidity 
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [13]:
phighno = 4/5
pnormalno = 1/5

phighyes = 3/9
pnormalyes = 6/9

In [14]:
# Wind 
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [15]:
pstrongno = 3/5
pweakno = 2/5

pstrongyes = 3/9
pweakyes = 6/9

In [16]:
# outlook = Sunny, temp = Hot, humidity = High, wind = Weak

pyes = py * psunnyyes * photyes * phighyes * pweakyes
pyes

0.007054673721340388

In [17]:
pno = pn * psunnyno * photno * phighno * pweakno
pno

0.02742857142857143

In [18]:
# No play