In [13]:
import pandas as pd
import requests

In [14]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [15]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [16]:
temp_df.shape

(20, 7)

In [17]:
df = pd.DataFrame()

In [11]:
df

Empty DataFrame
Columns: []
Index: []

In [23]:
for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    # add temp_df to df
    df = pd.concat([df, temp_df], ignore_index=True)

In [26]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,135.298,8.704,26055
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,149.410,8.695,19751
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,131.373,8.577,11933
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,89.065,8.568,15335
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,66.964,8.542,8207

In [25]:
df.to_csv('movies.csv')